/* reset and custom style classes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 18px;
    font-family: var(--ff-base);
}

body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    font-family: var(--ff-paragraph);
    background-color: var(--clr-white-three);
    position: relative;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* background image styling */
/* container:after {
    content: '';
    position: absolute;
    background-color: var(--clr-blue-dark);
    inset: 0;
    z-index: -1;
    opacity: .9; */
    /* goes in parent selector => */
    /* position: relative;
    isolation: isolate;
} */

/* Root Styles */
:root {
    /* colors */
    --clr-rich-black: #02111B;
    --clr-mid-grey: #677076;
    --clr-Mountbatten-pink: #93748A;
    --clr-airforce-blue: #568EA3;
    --clr-zomp: #66A182;
    --clr-white: #FCFCFC;

    /* fonts */
    --ff-title: 'Biryani', sans-serif;
    --ff-sub-title: 'Catamaran', sans-serif;
    --ff-paragraph: 'Hind Vadodara', sans-serif;

    --line-height-lrg: 62px;
    --line-height-sml: 28px;

    --transition: 300ms ease-in-out;
    --transition-two: 600ms ease-in-out;
    --transition-three: 800ms ease-in-out;

}

/* general styles */

h1, h2 {
    font-family: var(--ff-title);
}

h3, h4, h5 {
    font-family: var(--ff-sub-title);
}

.grid {
    width: 100%;
    display: grid;
    gap: 1em;
}

.flex_row {
    display: flex;
    flex-wrap: wrap;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.center_by_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_by_grid {
    width: 100%;
    display: grid;
    place-content: center;
    gap: 1em;
}

.inactive {
    display: none;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
    color: var(--clr-airforce-blue);
    font-family: var(--ff-sub-title);
    font-weight: bold;
}

.app_container {
    background-color: var(--clr-white);
    min-height: 100vh;
}